In [1]:
import pandas as pd
import os

In [2]:
file = 'election_data.csv'

df=pd.read_csv(file)

In [3]:
df.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [4]:
df.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [14]:
TotalVotes = len(df)

TotalVotes

3521001

In [22]:
Votes = df ['Candidate'].value_counts(normalize=True)*100

Votes.round()

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [26]:
winner = Votes.max()

winner.round()

63.0

In [35]:
print("Election Results")
print ("-------------------")
print(Votes.round())
print("--------------------")
print ("Winner: Khan")
print ("-------------------")

Election Results
-------------------
Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64
--------------------
Winner: Khan
-------------------