In [82]:
import pandas as pd
import numpy as np
import os

In [83]:




os.getcwd()

'/Users/desmondwalker/Desktop/MINSTP201902DATA4/Homework/03 - Python/PyBank/Resources'

In [84]:

os.listdir()

['Untitled.ipynb', '.gitkeep', '.ipynb_checkpoints', 'budget_data.csv']

In [85]:
file = "budget_data.csv"

In [86]:
df = pd.read_csv (file)

In [87]:
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [88]:
df.count()

Date             86
Profit/Losses    86
dtype: int64

In [89]:
df['Date'].value_counts()

Nov-2011    1
Mar-2014    1
Apr-2012    1
May-2011    1
Jan-2016    1
May-2010    1
Sep-2016    1
Oct-2012    1
Aug-2016    1
Feb-2014    1
Oct-2014    1
Aug-2011    1
Feb-2013    1
Aug-2015    1
Mar-2010    1
Jun-2015    1
Oct-2011    1
Nov-2010    1
Nov-2012    1
Dec-2010    1
Apr-2016    1
Sep-2011    1
Jan-2010    1
Nov-2016    1
Jun-2013    1
Nov-2015    1
Apr-2013    1
Apr-2010    1
Oct-2015    1
Dec-2014    1
           ..
Jul-2010    1
May-2012    1
Aug-2013    1
Feb-2010    1
Jan-2014    1
Feb-2011    1
Jul-2012    1
Jun-2010    1
Mar-2015    1
Mar-2012    1
Dec-2011    1
Feb-2012    1
Nov-2013    1
Feb-2015    1
Dec-2013    1
Oct-2013    1
Jun-2011    1
Jul-2013    1
Jan-2013    1
May-2014    1
Mar-2011    1
May-2015    1
Apr-2011    1
Jan-2017    1
Nov-2014    1
Sep-2014    1
Feb-2016    1
Jul-2014    1
Oct-2016    1
Dec-2016    1
Name: Date, Length: 86, dtype: int64

In [90]:
df_months = df.groupby(['Date'])

In [91]:
print (df_months)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x11567f668>

In [92]:
df_months.count()

          Profit/Losses
Date
Apr-2010              1
Apr-2011              1
Apr-2012              1
Apr-2013              1
Apr-2014              1
Apr-2015              1
Apr-2016              1
Aug-2010              1
Aug-2011              1
Aug-2012              1
Aug-2013              1
Aug-2014              1
Aug-2015              1
Aug-2016              1
Dec-2010              1
Dec-2011              1
Dec-2012              1
Dec-2013              1
Dec-2014              1
Dec-2015              1
Dec-2016              1
Feb-2010              1
Feb-2011              1
Feb-2012              1
Feb-2013              1
Feb-2014              1
Feb-2015              1
Feb-2016              1
Feb-2017              1
Jan-2010              1
...                 ...
Mar-2015              1
Mar-2016              1
May-2010              1
May-2011              1
May-2012              1
May-2013              1
May-2014              1
May-2015              1
May-2016              1
Nov-2010              1
Nov-2011              1
Nov-2012              1
Nov-2013              1
Nov-2014              1
Nov-2015              1
Nov-2016              1
Oct-2010              1
Oct-2011              1
Oct-2012              1
Oct-2013              1
Oct-2014              1
Oct-2015              1
Oct-2016              1
Sep-2010              1
Sep-2011              1
Sep-2012              1
Sep-2013              1
Sep-2014              1
Sep-2015              1
Sep-2016              1

[86 rows x 1 columns]

In [93]:
df.sum()

Total=df.sum()
Total

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [94]:
average = df["Profit/Losses"].mean

In [95]:
average

<bound method Series.mean of 0      867884
1      984655
2      322013
3      -69417
4      310503
5      522857
6     1033096
7      604885
8     -216386
9      477532
10     893810
11     -80353
12     779806
13    -335203
14     697845
15     793163
16     485070
17     584122
18      62729
19     668179
20     899906
21     834719
22     132003
23     309978
24    -755566
25    1170593
26     252788
27    1151518
28     817256
29     570757
       ...
56    1166643
57     947333
58     578668
59     988505
60    1139715
61    1029471
62     687533
63    -524626
64     158620
65      87795
66     423389
67     840723
68     568529
69     332067
70     989499
71     778237
72     650000
73   -1100387
74    -174946
75     757143
76     445709
77     712961
78   -1163797
79     569899
80     768450
81     102685
82     795914
83      60988
84     138230
85     671099
Name: Profit/Losses, Length: 86, dtype: int64>

In [96]:
df.sum().mean

<bound method Series.mean of Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object>

In [97]:
average

<bound method Series.mean of 0      867884
1      984655
2      322013
3      -69417
4      310503
5      522857
6     1033096
7      604885
8     -216386
9      477532
10     893810
11     -80353
12     779806
13    -335203
14     697845
15     793163
16     485070
17     584122
18      62729
19     668179
20     899906
21     834719
22     132003
23     309978
24    -755566
25    1170593
26     252788
27    1151518
28     817256
29     570757
       ...
56    1166643
57     947333
58     578668
59     988505
60    1139715
61    1029471
62     687533
63    -524626
64     158620
65      87795
66     423389
67     840723
68     568529
69     332067
70     989499
71     778237
72     650000
73   -1100387
74    -174946
75     757143
76     445709
77     712961
78   -1163797
79     569899
80     768450
81     102685
82     795914
83      60988
84     138230
85     671099
Name: Profit/Losses, Length: 86, dtype: int64>

In [98]:
df.max()

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [99]:
df.min()

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [100]:
Highest_Profit =df.max()

Highest_Profit

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [101]:
Large_decrease =df.min()
Large_decrease

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [102]:
Total_Month = df.count()

Total_Month

Date             86
Profit/Losses    86
dtype: int64

In [103]:
#Financial_Analysis ={"Total Months": [Total_Month]},{'Total':[Total],"Greatest Profits Increase": [Highest_Profit]}\
#,{"Greatest Profit Decrease": [Large_decrease]}

In [104]:
#Financial_Analysis

In [107]:
print ("Financial Analysis")
print ("-------------------")
print (Total)
print (Total_Month)
print ("------------------")
print (Highest_Profit)
print (Large_decrease)
print ("-------------------")

Financial Analysis
-------------------
Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object
Date             86
Profit/Losses    86
dtype: int64
------------------
Date             Sep-2016
Profit/Losses     1170593
dtype: object
Date             Apr-2010
Profit/Losses    -1196225
dtype: object
-------------------